:root {
    --main-color: #6c63ff;
    --main-color-darker: #6660e3;
    --main-color-lighter: #edecff;
    --main-dark: rgba(0, 0, 0, 0.7);
    --main-danger: rgba(255, 0, 0, 0.1);
}

* {
    margin: auto;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
}

h1 {
    color: var(--main-color);
    font-size: 3.5rem;
}

.content {
    padding: 2rem;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo {
        width: 65%;
    }
}

.content .form {
    width: 40%;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content .form {
        width: 80%;
        font-size: 0.9rem;
    }
}

.content .form > * {
    margin: 0.1rem;
    width: 100%;
}

.content .form label {
    color: var(--main-dark);
}

.content .form .submit {
    font-size: 1.1rem;
    width: 100%;
    color: white;
    padding: 10px 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    background: var(--main-color);
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content .form .submit {
        font-size: 1rem;
    }
}

.content .form .form-group > input[type="text"] {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px var(--main-color) solid;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .content .form .form-group > input[type="text"] {
        padding: 12px 18px;
    }
}

.content .form .form-group > input[type="text"]:focus,
.submit:focus {
    outline: none;
}

.content .form .form-group > input[type="text"]::placeholder {
    color: var(--main-color);
}

.content .form .submit:hover {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    background-color: var(--main-color-darker);
}

.text-muted {
    color: rgba(0, 0, 0, 0.5);
}

.alert {
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.alert-success {
    background: var(--main-color-lighter);
    color: var(--main-dark);
    border: 1px solid var(--main-color);
}

.alert-fail {
    background: var(--main-danger);
    color: red;
    border: 1px solid red;
}

.alert p {
    padding-left: 10px;
}

.title {
    display: flex;
    align-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .title h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }
}

a {
    color: var(--main-color);
}

@media only screen and (max-width: 768px) {
    footer {
        font-size: 0.9rem;
    }
}
